# Q1.

In [1]:
import pandas as pd

In [4]:
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2.

In [5]:
a = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(a)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3.

In [14]:
data1 = {'Name' : ['Alice','Bob','Claire'],
         'Age' : [25,30,27],
         'Gender':['Female','Male','Female']}
pd.DataFrame(data1,index=None)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4.

"""
A DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns).

A Pandas Series, is a one-dimensional labeled array capable of holding any data type. 
"""

In [15]:
import pandas as pd

data = [1,2,3,4,5]
pd.Series(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
df = pd.read_csv('services.csv')

In [19]:
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

# Q5.

"""
 - head() and tail()
 - value_counts()
 - groupby()
 - sort_values()
 
"""

In [21]:
df.tail(1)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [22]:
df['program_id'].value_counts()

Series([], Name: program_id, dtype: int64)

# Q6.

"""
In Pandas, both Series and DataFrame are mutable, while Panel is not. 
"""

# Q7.

In [24]:
names = pd.Series(['Alice', 'Bob', 'Charlie'], name='Name')
ages = pd.Series([25, 30, 22], name='Age')
genders = pd.Series(['Female', 'Male', 'Male'], name='Gender')

df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})
df

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22    Male